# Prisma
# The connection string for your PostgreSQL database.
# For local development with docker-compose, use:
# DATABASE_URL="postgresql://user:password@localhost:5432/wholesaledb?schema=public"
DATABASE_URL="postgresql://user:password@localhost:5432/wholesaledb?schema=public"

# NextAuth.js
# A secret used to sign and encrypt JWTs. Generate one with `openssl rand -base64 32`
NEXTAUTH_SECRET="YOUR_NEXTAUTH_SECRET"
# The canonical URL of your production site.
NEXTAUTH_URL="http://localhost:3000"